<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/header :: header">

</head>
<body>
<div class="wrapper">
    <div th:replace="admin/fragments/sidebar :: sidebar">>
    </div>
    <div class="main-panel">
        <nav th:replace="admin/fragments/navbar :: navbar">

        </nav>
        <div class="content">
            <div class="container-fluid">
                <!--/*@thymesVar id="recipe" type="vn.colorme.spring5recipeapp.domain.Recipe"*/-->
                <div class="row">
                    <h4 class="title" th:text="${recipe.description}">Recipes</h4>
                    <a th:href="@{/admin/recipe/{id}/update(id=${recipe.id})}"
                       class="btn btn-default" style="margin-bottom: 20px">
                        Edit
                    </a>
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="left-vertical-tabs">
                                    <ul class="nav nav-stacked" role="tablist">
                                        <li class="active">
                                            <a href="#info" role="tab" data-toggle="tab" aria-expanded="true">
                                                Info
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="#description" role="tab" data-toggle="tab" aria-expanded="false">
                                                Ingredient
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="#concept" role="tab" data-toggle="tab" aria-expanded="false">
                                                Direction
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#support" role="tab" data-toggle="tab">
                                                Note
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="right-text-tabs">
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="info">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <ul class="list-group">
                                                        <li class="list-group-item">
                                                            <p>
                                                                <a th:href="@{/admin/recipe/{id}/image(id=${recipe.id})}"
                                                                   class="btn btn-primary btn-fill btn-wd">
                                                                    Change
                                                                </a>
                                                            </p>
                                                            <div>
                                                                <img src="../../static/images/guacamole400x400WithX.jpg"
                                                                     th:src="@{${(recipe.image != null && recipe.image.length > 0) ? '/recipe/' + recipe.id+'/recipeimage':'/images/upload-empty.png'}}"
                                                                     width="150">
                                                            </div>
                                                        </li>

                                                        <li class="list-group-item">
                                                            Categories:
                                                            <span th:each="cat : ${recipe.categories}"
                                                                  th:text="${cat.description}"
                                                                  class="label label-default">Default Label</span>
                                                        </li>
                                                        <li class="list-group-item">
                                                            Prepare Time:
                                                            <span th:text="${recipe.prepTime} + ' min'">30 min</span>
                                                        </li>
                                                        <li class="list-group-item">
                                                            Difficulty:
                                                            <span th:text="${recipe.difficulty}">Easy</span>
                                                        </li>
                                                        <li class="list-group-item">
                                                            Cooktime:
                                                            <span th:text="${recipe.cookTime}">Easy</span>
                                                        </li>
                                                        <li class="list-group-item">
                                                            Servings:
                                                            <span th:text="${recipe.servings}">Easy</span>
                                                        </li>
                                                        <li class="list-group-item">
                                                            Source:
                                                            <span th:text="${recipe.source}">Easy</span>
                                                        </li>
                                                        <li class="list-group-item">
                                                            URL:
                                                            <span th:text="${recipe.url}">Easy</span>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="description">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <ul class="list-group">
                                                        <li class="list-group-item"
                                                            th:each="ingredient : ${recipe.ingredients}">
                                                            <div th:text="${ingredient.amount} + ' ' + ${ingredient.unitOfMeasure.description} +' - ' + ${ingredient.description}">
                                                                1 Cup of milk
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="concept">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p th:text="${recipe.directions}">Lorem ipsum dolor sit amet,
                                                        consectetuer
                                                        adipiscing
                                                        elit. Aenean commodo ligula eget
                                                        dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                                                        parturient
                                                        montes,
                                                        nascetur ridiculus mus. Donec quam felis, ultricies nec,
                                                        pellentesque eu,
                                                        pretium
                                                        quis, sem. Nulla consequat massa quis enim. Donec pede justo,
                                                        fringilla vel,
                                                        aliquet
                                                        nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet
                                                        a, venenatis
                                                        vitae,
                                                        justo. Nullam dictum felis eu pede mollis pretium. Integer
                                                        tincidunt. Cras
                                                        dapibus.
                                                        Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
                                                        Aenean leo
                                                        ligula,
                                                        porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem
                                                        ante,
                                                        dapibus
                                                        in,
                                                        viverra quis, feugiat a, tellus. Phasellus viverra nulla ut
                                                        metus varius
                                                        laoreet.
                                                        Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel
                                                        augue. Curabitur
                                                        ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.
                                                        Maecenas tempus,
                                                        tellus
                                                        eget condimentum rhoncus, sem quam semper libero, sit amet
                                                        adipiscing sem
                                                        neque
                                                        sed
                                                        ipsum.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="support">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p th:text="${recipe.notes.recipeNotes}">Lorem ipsum dolor sit amet,
                                                        consectetuer
                                                        adipiscing elit. Aenean commodo ligula eget
                                                        dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                                                        parturient
                                                        montes,
                                                        nascetur ridiculus mus. Donec quam felis, ultricies nec,
                                                        pellentesque eu,
                                                        pretium
                                                        quis, sem. Nulla consequat massa quis enim. Donec pede justo,
                                                        fringilla vel,
                                                        aliquet
                                                        nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet
                                                        a, venenatis
                                                        vitae,
                                                        justo. Nullam dictum felis eu pede mollis pretium. Integer
                                                        tincidunt. Cras
                                                        dapibus.
                                                        Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
                                                        Aenean leo
                                                        ligula,
                                                        porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem
                                                        ante,
                                                        dapibus
                                                        in,
                                                        viverra quis, feugiat a, tellus. Phasellus viverra nulla ut
                                                        metus varius
                                                        laoreet.
                                                        Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel
                                                        augue. Curabitur
                                                        ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.
                                                        Maecenas tempus,
                                                        tellus
                                                        eget condimentum rhoncus, sem quam semper libero, sit amet
                                                        adipiscing sem
                                                        neque
                                                        sed
                                                        ipsum.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer" th:replace="admin/fragments/footer :: footer">
</footer>
</body>
</html>