<!doctype html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/header :: header">
</head>

<body>
<div class="wrapper">
    <div th:replace="admin/fragments/sidebar :: sidebar">>

    </div>

    <div class="main-panel">
        <nav th:replace="admin/fragments/navbar :: navbar">

        </nav>

        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-warning text-center">
                                            <i class="ti-server"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Recipes</p>
                                            <div th:text="${user.recipes.size()}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <hr>
                                <div class="stats">
                                    <i class="ti-reload"></i> Updated now
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer" th:replace="admin/fragments/footer :: footer">
        </footer>
    </div>
</div>
</body>

</html>
