<!doctype html >
<html lang="en">
<head th:replace="admin/fragments/header :: header">

</head>

<body>
<div class="wrapper">
    <div th:replace="admin/fragments/sidebar :: sidebar">>

    </div>

    <div class="main-panel">
        <nav th:replace="admin/fragments/navbar :: navbar">

        </nav>

        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <!-- your content here -->

                </div>
            </div>
        </div>

        <footer class="footer" th:replace="admin/fragments/footer :: footer">
        </footer>
    </div>
</div>
</body>

</html>
