<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/header :: header">

</head>
<body>
<div class="wrapper">
    <div th:replace="admin/fragments/sidebar :: sidebar">>
    </div>
    <div class="main-panel">
        <nav th:replace="admin/fragments/navbar :: navbar">

        </nav>
        <div class="content">
            <div class="container-fluid" style="margin-top: 20px">
                <div class="row">
                    <div class="col-md-12">
                        <!--/*@thymesVar id="ingredient" type="vn.colorme.spring5recipeapp.commands.IngredientCommand"*/-->
                        <!--@thymesVar id="uomEach" type="vn.colorme.spring5recipeapp.commands.UnitOfMeasureCommand" -->
                        <form th:object="${ingredient}"
                              method="post"
                              th:action="@{'/recipe/' + ${ingredient.getRecipeId()} + '/ingredient'} ">
                            <input type="hidden" th:field="*{id}"/>

                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Edit Ingredient Information</h4>
                                </div>
                                <div class="card-content">
                                    <div class="row">
                                        <div class="col-md-3 form-group">
                                            <label>Description:</label>
                                            <input type="text" class="form-control" th:field="*{description}"/>
                                        </div>

                                        <div class="col-md-3 form-group">
                                            <label>Amount:</label>
                                            <input type="number" class="form-control" th:field="*{amount}"/>
                                        </div>

                                        <div class="col-md-3 form-group">
                                            <label>UOM:</label>
                                            <select class="form-control" name="unitOfMeasure.id">
                                                <option th:each="uomEach : ${uomList}"
                                                        th:value="${uomEach.id}"
                                                        th:selected="${uomEach.id.equals(ingredient.unitOfMeasure.id)}"
                                                        th:text="${uomEach.description}">Each
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer" th:replace="admin/fragments/footer :: footer">
</footer>
</body>
</html>