<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/header :: header">
</head>

<body>
<!--@thymesVar id="recipe" type="vn.colorme.spring5recipeapp.domain.Recipe"-->
<!--/*@thymesVar id="ingredients" type="java.util.Set<vn.colorme.spring5recipeapp.domain.Ingredient>"*/-->
div class="wrapper">
<div th:replace="admin/fragments/sidebar :: sidebar">>

</div>

<div class="main-panel">
    <nav th:replace="admin/fragments/navbar :: navbar">

    </nav>

    <div class="content">
        <div class="container-fluid" style="margin-top: 20px">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">

                        <div class="card-header" style="overflow: hidden">
                            <h4 class="card-title">
                                Ingredients
                                <a href="#" class="btn btn-default"
                                   th:href="@{'/admin/recipe/' + ${recipe.id} + '/ingredient/new'}">Add</a>
                            </h4>

                        </div>
                        <div class="card-content">

                            <div class="table-responsive" th:if="${not #lists.isEmpty(recipe.ingredients)}">
                                <table class="table table-hover ">
                                    <thead class="thead-inverse">
                                    <tr>
                                        <th>ID</th>
                                        <th>Description</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tr th:each="ingredient : ${recipe.ingredients}">
                                        <td th:text="${ingredient.id}">334</td>
                                        <td th:text="${ingredient.amount} + ' ' + ${ingredient.unitOfMeasure.getDescription()} + ' ' + ${ingredient.description}">
                                            Tasty Goodnees 3
                                        </td>
                                        <td>
                                            <a class="btn btn-simple btn-info btn-icon like"
                                               th:href="@{'/admin/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/show'}">
                                                <i class="ti-eye"></i></a>

                                            <a href="#"
                                               class="btn btn-simple btn-warning btn-icon edit"
                                               th:href="@{'/admin/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/update'}">
                                                <i class="ti-pencil-alt"></i>
                                            </a>
                                            <a href="#"
                                               class="btn btn-simple btn-danger btn-icon remove"
                                               th:href="@{'/admin/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/delete'}">
                                                <i class="ti-close"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer" th:replace="admin/fragments/footer :: footer">
</footer>

</body>
</html>