<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/header :: header">
</head>
<body>
<!--/*@thymesVar id="ingredient" type="vn.colorme.spring5recipeapp.commands.IngredientCommand"*/-->
<div class="wrapper">
    <div th:replace="admin/fragments/sidebar :: sidebar">>

    </div>

    <div class="main-panel">
        <nav th:replace="admin/fragments/navbar :: navbar">
        </nav>
        <div class="content">
            <div class="container-fluid" style="margin-top: 20px">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">

                            <div class="card-header">
                                <h4 class="card-title">
                                    Ingredient
                                    <a href="#"
                                       class="btn btn-simple btn-warning btn-icon edit"
                                       th:href="@{'/admin/recipe/' + ${ingredient.recipeId} + '/ingredient/' + ${ingredient.id} + '/update'}">
                                        <i class="ti-pencil-alt"></i>
                                    </a>
                                </h4>
                            </div>
                            <div class="card-content">

                                <div class="table-responsive">
                                    <table class="table table-hover ">
                                        <thead class="thead-inverse">
                                        <tr>
                                            <th>ID</th>
                                            <th>Description</th>
                                        </tr>
                                        </thead>
                                        <tr th:remove="all">
                                            <td>12333</td>
                                            <td>Tasty Goodnees 2</td>
                                            <td><a href="#">View</a></td>
                                            <td><a href="#">Update</a></td>
                                            <td><a href="#">Delete</a></td>
                                        </tr>
                                        <tr>
                                            <td th:text="${ingredient.id}">334</td>
                                            <td th:text="${ingredient.amount} + ' ' + ${ingredient.unitOfMeasure.getDescription()} + ' ' + ${ingredient.description}">
                                                Tasty Goodnees 3
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer" th:replace="admin/fragments/footer :: footer">
</footer>

</body>
</html>