<footer class="footer footer-big footer-color-black" data-color="black" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-3">
                <div class="info">
                    <h5 class="title">Links</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="/">Home</a></li>
                            <li>
                                <a href="/recipes">Find offers</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <hr>
        <div class="copyright">
            ©
            <script> document.write(new Date().getFullYear()) </script>
            Simply Recipes
        </div>
    </div>
    <script src="/assets/js/jquery.min.js" type="text/javascript"></script>
    <script src="/assets/js/bootstrap.js" type="text/javascript"></script>
    <!--  js library for devices recognition -->
    <script type="text/javascript" src="/assets/js/modernizr.js"></script>
    <script type="text/javascript" src="/assets/js/gaia.js"></script>
</footer>