<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body class="template-page">
<!--@thymesVar id="recipes" type="java.util.List" -->
<!--@thymesVar id="recipe" type="vn.colorme.spring5recipeapp.domain.Recipe"-->
<div th:replace="fragments/navbar :: navbar">
</div>
<div class="section section-header-blog">
    <div class="parallax filter filter-color-black">
        <div class="image"
             style="background-image:url('/images/2017-11-12-Champagne-Chocolate-Truffles-11-1024x682.jpg')">
        </div>
        <div class="container">
            <div class="content">
                <div class="title-area">
                    <h1>Simply Recipes</h1>
                    <h3>Snip Doodles! Like snickerdoodle cookies, but coffee cake. Soft and cake-like, with a
                        cinnamon-sugar top.</h3>
                    <button type="button" class="btn btn-white btn-fill">Discover Recipes</button>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4" th:each="recipe : ${recipes}">
                <div class="card card-blog card-plain">
                    <a href="#gaia" class="header">
                        <img th:src="@{${(recipe.image != null && recipe.image.length > 0) ? '/recipe/' + recipe.id+'/recipeimage':'/images/upload-empty.png'}}"
                             class="image-header">
                    </a>
                    <div class="content">
                        <h6 class="card-date">Jul 27</h6>
                        <a href="#gaia" class="card-title">
                            <h3 th:text="${recipe.description}">How to Make the Perfect Statues</h3>
                        </a>
                        <div class="line-divider line-danger"></div>
                        <h6 class="card-category">Food &amp; Drink</h6>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="section section-card-blog">
    <div class="container">
        <div class="title-area">
            <h5 class="text-gray">Don't miss our</h5>
            <h2>Most Recommended Stories</h2>
            <div class="separator separator-danger">✻</div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card card-blog">
                    <a href="blog-posts.html" class="header">
                        <img src="../assets/img/header-7.jpeg" class="image-header">
                    </a>
                    <div class="content">
                        <div class="circle-black">
                            <div class="circle">
                                <div class="date-wrapper">
                                    <span class="month">Apr</span>
                                    <span class="date">12</span>
                                </div>
                            </div>
                        </div>
                        <a href="blog-posts.html" class="card-title"><h3>We Are Here to Make Life Better</h3></a>
                        <h6 class="card-category text-warning">Life Tips &amp; Tricks</h6>
                        <p class="text-description text-gray">Royère doesn't make a Polar bear bed but the Polar bear
                            couch is my favorite piece of furniture we own The Pablo pop up was almost a pop up of
                            influence.</p>
                    </div>
                </div>

                <div class="card card-blog">
                    <div class="content">
                        <div class="circle-black">
                            <div class="circle">
                                <div class="date-wrapper">
                                    <span class="month">Aug</span>
                                    <span class="date">30</span>
                                </div>
                            </div>
                        </div>
                        <a href="blog-posts.html" class="card-title"><h3>Don't Be Scared</h3></a>
                        <h6 class="card-category text-info">Motivation</h6>
                        <p class="text-description text-gray">Nothing beats the slight tang and softness of a ciabatta.
                            Here's mmy recipe.Simply dip in some olive oil and balsamic vinegar.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-blog">
                    <a href="blog-posts.html" class="header">
                        <img src="../assets/img/header-8.jpeg" class="image-header">
                    </a>
                    <div class="content">
                        <div class="circle-black">
                            <div class="circle">
                                <div class="date-wrapper">
                                    <span class="month">Mar</span>
                                    <span class="date">10</span>
                                </div>
                            </div>
                        </div>
                        <a href="blog-posts.html" class="card-title"><h3>Now There Is Only One Important Color...</h3>
                        </a>
                        <h6 class="card-category text-danger">Trending</h6>
                        <p class="text-description text-gray">When it comes to choosing decorative pieces, you want to
                            stick to a maximum of three colors. Then it's all about placement.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-blog">
                    <div class="content">
                        <div class="circle-black">
                            <div class="circle">
                                <div class="date-wrapper">
                                    <span class="month">Feb</span>
                                    <span class="date">11</span>
                                </div>
                            </div>
                        </div>
                        <a href="blog-posts.html" class="card-title"><h3>We No Longer Have to Be Scared of the
                            Truth</h3></a>
                        <h6 class="card-category text-info">Motivation</h6>
                        <p class="text-description text-gray">Nothing beats the slight tang and softness of a ciabatta.
                            Here's mmy recipe.Simply dip in some olive oil and balsamic vinegar.</p>
                    </div>
                </div>
                <div class="card card-blog">
                    <a href="blog-posts.html" class="header">
                        <img src="../assets/img/header-1.jpeg" class="image-header">
                    </a>
                    <div class="content">
                        <div class="circle-black">
                            <div class="circle">
                                <div class="date-wrapper">
                                    <span class="month">Mar</span>
                                    <span class="date">10</span>
                                </div>
                            </div>
                        </div>
                        <a href="blog-posts.html" class="card-title"><h3>Now There Is Only One Important Color...</h3>
                        </a>
                        <h6 class="card-category text-danger">Trending</h6>
                        <p class="text-description text-gray">When it comes to choosing decorative pieces, you want to
                            stick to a maximum of three colors. Then it's all about placement.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h1 class="panel-title">My Recipes!</h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(recipes)}">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                                <th>View</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tr th:each="recipe : ${recipes}">
                                <!--/*@thymesVar id="recipe" type="guru.springframework.domain.Recipe"*/-->
                                <td th:text="${recipe.id}">334</td>
                                <td th:text="${recipe.description}">Tasty Goodnees 3</td>
                                <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/show'}">View</a></td>
                                <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/update'}">View</a></td>
                                <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/delete'}">View</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer">
</div>
</body>
</html>