<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body class="template-page">
<!--@thymesVar id="recipes" type="java.util.List" -->
<!--@thymesVar id="recipe" type="vn.colorme.spring5recipeapp.domain.Recipe"-->
<div th:replace="fragments/navbar :: navbar">
</div>
<div class="section section-header-blog">
    <div class="parallax filter filter-color-black">
        <div class="image"
             style="background-image:url('/images/2017-11-12-Champagne-Chocolate-Truffles-11-1024x682.jpg')">
        </div>
        <div class="container">
            <div class="content">
                <div class="title-area">
                    <h1>Simply Recipes</h1>
                    <h3>Snip Doodles! Like snickerdoodle cookies, but coffee cake. Soft and cake-like, with a
                        cinnamon-sugar top.</h3>
                    <a href="/recipes" type="button" class="btn btn-white btn-fill">Discover Recipes</a>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-4" th:each="recipe : ${recipes}">
                <div class="card card-blog card-plain">
                    <a th:href="@{'/recipe/' + ${recipe.id}}" class="header">
                        <div th:style="'width:100%;height: 200px;background-size:cover;background-position:center;background-image:url(' + @{${(recipe.image != null && recipe.image.length > 0) ? '/recipe/' + recipe.id+'/recipeimage':'/images/upload-empty.png'}} + ');'"></div>

                        <a/>
                        <div class="content" style="height: 210px">
                            <h6 class="card-date" th:text="${recipe.difficulty}">Jul 27</h6>
                            <a th:href="@{'/recipe/' + ${recipe.id}}" class="card-title">
                                <h3 th:text="${recipe.description}">How to Make the Perfect Statues</h3>
                            </a>
                            <div class="line-divider line-danger"></div>
                            <h6 class="card-category" th:text="'BY ' + ${recipe.user.name}">Food &amp; Drink</h6>
                        </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer">
</div>
</body>
</html>